body {
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    height: 100%;
    min-height: 100vh;
    margin: 0; /* Ensure there is no default margin */
}

h1 {
    color: black;
    font-size: 15px;
}

p {
    color: blue;
}

img {
    height: 300px;
    width: auto;
}

main { 
    flex-grow: 1;
    margin-bottom: 30px; /* Added unit */
}

.flex-container {
    display: flex;
    align-items: start;
    justify-content: center;
}

.flex-container div {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: Arial, sans-serif;
    position: relative; /* Corrected the position property */
    width: 100%;
    padding: 8px;
    text-align: center; /* Ensures text is centered */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 14px; /* Combined padding properties */
    background-color: blue;
    color: white;
    border: none; /* Added border: none for cleaner button */
    cursor: pointer; /* Added cursor for better user experience */
}

button:hover {
    color: black;
}
